.comment-list {
  @extend .list-unstyled;
  article {
     @extend .clearfix;
     .comment-meta {
        padding-left: 90px;
        position: relative;
        @include media-breakpoint-down(xs) {
           padding-left: 70px;
        }
        img {
           top: 0;
           left: 0;
           border-radius: 50%;
           position: absolute;
           @include media-breakpoint-down(xs) {
             width: 60px;
           }
        }
        a {
           color: inherit;
        }
        .says {
           display: none;
        }
        .comment-metadata {
           font-size: $font-size-sm;
        }
     }
     .comment-content {
        margin-top: 1rem;
        @include media-breakpoint-up(sm) {
           padding-left: 90px;
        }
     }
     .reply {
        margin-top: 1rem;
        float: none;
        @include media-breakpoint-up(sm) {
           padding-left: 90px;
        }
        a {
           &:before {
             content: '\f112';
             font-family: 'Fontawesome';
             display: inline-block;
             margin-right: 10px;
          }
        }
     }
  }
  .comment-respond {
     margin-top: 1rem;
     @include media-breakpoint-up(sm) {
        margin-left: 90px;
    }
     h3 {
        @extend .clearfix;
        small {
           font-size: 1rem;
           float: right;
        }
     }
 }
}
.comment-list ol {
  list-style: none;
}

.comment-form {
   @include make-row();
}
.comment-form > p {
   @extend .form-group;
   @include make-col-ready();
   @include media-breakpoint-up(md) {
      @include make-col(4);
      &.comment-form-comment, &.comment-notes {
         @include make-col(12);
      }
   }
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}
