// Search form
.search-form {
   .search-field {
     @extend .form-control;
     margin-bottom: .5rem;
   }
   label {
      margin-bottom: 0;
      display: block;
   }
   input[type=submit] {
     @extend .btn;
     @extend .btn-secondary;
  }
}

select.form-control {
  padding-top: 0;
  padding-bottom: 0;
}