.gform_wrapper {
	form {
		input[type=text], input[type=tel], input[type=email], input[type=number], input[type=password], select, textarea {
			@extend .form-control;
		}
		input[type=button] {
			@extend .btn;
			@extend .btn-primary;
		}
		select {
			@extend .custom-select;
		}
		input.datepicker {
			background-image: url('../images/icon-calendar.svg');
			background-position: 100% 50%;
			background-repeat: no-repeat;
			background-size: 2.25rem auto;
		}
		.gform_body {
			.gform_fields {
				@include make-row();
				@extend .list-unstyled;
				color: inherit;
				> .gfield {
					@include make-col-ready();
					@extend .form-group;
					.gfield_label {
						.gfield_required {
							@extend .text-danger;
							padding-left: 5px;
						}
					}
					.gfield_description:not(.validation_message) {
						@extend .form-text;
						@extend .text-muted;
					}
					.gfield_radio, .gfield_checkbox {
						@extend .list-unstyled;
						color: inherit;
						> li {
							padding-right: 20px;
							&+li {
								margin-top: 3px;
							}
							label {
								cursor: pointer;
								font-style: italic;
								margin-bottom: 0;
							}
							input[type=text] {
								width: auto;
								display: inline-block;
							}
						}
					}
					.clear-multi {
						@include make-row();
						> * {
							@include make-col-ready();
							@include make-col(4);
						}
						label {
							@extend .form-text;
							@extend .text-muted;
							font-style: italic;
						}
						i {
							display: none;
						}
					}
					&.gform_hidden {
						display: none;
					}
					&.nolabel {
						> .gfield_label {
							display: none;
						}
					}
					&.nosublabel {
						.clear-multi, .ginput_complex {
							label {
								display: none;
							}
						}
					}
					.ginput_container_fileupload {
						.gform_fileupload_multifile {
							@extend .mb-1;
							border: 5px dashed $gray-200;
							padding: 30px 40px;
						}
						.validation_message {
							ul {
								color: inherit;
								@extend .list-unstyled;
							}
						}
					}
					.gfield_creditcard_warning_message {
						@extend .alert;
						@extend .alert-danger;
					}
					.ginput_complex {
						@include make-row();
						> span {
							@include make-col-ready();
							@extend .form-group;
							display: block;
							label {
								@extend .form-text;
								@extend .text-muted;
								font-style: italic;
							}
							.gform_card_icon_container {
								@extend .mb-1;
								@extend .clearfix;
								.gform_card_icon {
									@extend .mr-1;
									@extend .fa;
									float: left;
									overflow: hidden;
									width: 48px;
									height: 42px;
									text-indent: -999px;
									text-align: left;
									position: relative;
									border-radius: $border-radius;
									&:before {
										display: block;
										top: 5px;
										left: 0;
										width: 100%;
										height: 100%;
										color: $body-color;
										text-align: center;
										position: absolute;
										text-indent: 0;
										font-size: 32px;
									}
									&.gform_card_icon_amex {
										@extend .fa-cc-amex;
									}
									&.gform_card_icon_discover {
										@extend .fa-cc-discover;
									}
									&.gform_card_icon_mastercard {
										@extend .fa-cc-mastercard;
									}
									&.gform_card_icon_visa {
										@extend .fa-cc-visa;
									}
									&.gform_card_icon_jcb {
										@extend .fa-cc-jcb;
									}
									&.gform_card_icon_maestro {
										@extend .fa-credit-card;
									}
								}
							}
							&.ginput_left {
								clear: left;
								@include media-breakpoint-up(sm) {
									@include make-col(6);
								}
							}
							&.ginput_right {
								@include media-breakpoint-up(sm) {
									@include make-col(6);
								}
							}
							&.ginput_cardextras {
								> span {
									@extend .mr-1;
									display: inline-block;
									input, select {
										display: inline-block;
										width: auto;
									}
									label {
										display: block;
									}
									.ginput_card_security_code_icon {
										display: inline-block;
										width: 50px;
										height: 30px;
										background: url('../images/security.gif') 50% 50% no-repeat;
									}
								}
							}
						}
						&.ginput_container_name {
							> span {
								@include media-breakpoint-up(sm) {
									@include make-col(6);
								}
							}
						}
					}
					&.radio-inline {
						.gfield_radio, .gfield_checkbox {
							@extend .list-inline;
							> li {
								@extend .list-inline-item;
							}
						}
					}
					&.gfloat {
						@include make-row();
						> .gfield_label {
							@include make-col-ready();
							@include media-breakpoint-up(sm) {
								@include make-col(5);
							}
						}
						> .ginput_container {
							@include make-col-ready();
							@include media-breakpoint-up(sm) {
								@include make-col(7);
							}
						}
					}
					&+.gsection {
						padding-top: 3rem;
						clear: both;
					}
					&.single-check {
						@extend .nolabel;
					}
					&.gfield_error {
						/*
						@extend .has-danger;
						*/
						input[type=text], input[type=tel], input[type=email], input[type=number], input[type=password], select, textarea {
							@extend .is-invalid;
						}
						.validation_message {
							@extend .invalid-feedback;
							display: block;
						}
					}
					&.gclear, .gf_clear {
						clear: left;
					}
					&.ghalf {
						@include media-breakpoint-up(sm) {
							@include make-col(6);
						}
					}
					&.gthird {
						@include media-breakpoint-up(sm) {
							@include make-col(4);
						}
					}
					&.gfourth {
						@include media-breakpoint-up(sm) {
							@include make-col(3);
						}
					}
				}
			}
		}
		.gf_progressbar_wrapper {
			.gf_progressbar_title {
				@extend h4;
				margin-bottom: $spacer-1;
			}
			.gf_progressbar {
				@extend .progress;
				margin-bottom: $spacer-1;
				height: 1.8rem;
				background-color: $gray-200;
				.gf_progressbar_percentage {
					@extend .progress-bar;
					height: 100%;
					color: $white;
					line-height: 1.8rem;
					background-color: theme-color('primary');
					span {
						text-align: center;
						display: block;
					}
				}
			}
		}
		.ginput_container_select {
			.chosen-container {
				position: relative;
				.chosen-single {
					@extend .clearfix;
					@extend .form-control;
					display: block;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					border-color: transparent;
					cursor: default;
					&:hover {
						color: inherit!important;
					}
				}
				&.chosen-container-active {
					.chosen-results {
						display: block;
					}
				}
				.chosen-results {
					@extend .list-unstyled;
					display: none;
					top: 100%;
					left: 0;
					width: 100%;
					position: absolute;
					background-color: $white;
					z-index: 3;
					padding: 2px 0;
					border: 1px solid $gray-200;
					box-shadow: 0 3px 5px rgba(0,0,0,.05);
					> li {
						padding: 2px .75rem;
						color: $body-color;
						cursor: pointer;
						&:hover {
							color: $white;
							background-color: theme-color('primary');
							transition: all ease-in-out .2s;
						}
					}
				}
			}
		}
	}
}

.ui-helper-clearfix {
	@extend .clearfix;
}

.ui-datepicker {
	@extend .card;
	z-index: 4!important;
	display: none;
	.ui-datepicker-header {
		@extend .card-header;
		a {
			float: left;
			margin-right: 10px;
			cursor: pointer;
			&:hover {
				color: theme-color('primary');
			}
		}
		.ui-datepicker-title {
			float: right;
			select {
				@extend .form-control;
				margin-left: 5px;
				padding: 0 .2rem;
				height: 1.8rem!important;
				display: inline-block;
				width: auto;
			}
		}
	}
	table {
		@extend .card-body;
		@extend .table;
		@extend .table-striped;
		margin-bottom: 0;
		.ui-datepicker-today {
			a {
				color: $body-color;
				font-weight: 700;
			}
		}
		.ui-datepicker-current-day {
			background-color: theme-color('primary');
			text-align: center;
			a {
				color: $white;
			}
		}
		td {
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
	}
}
