.tweet-list {
   .card-link {
      float: right;
      margin-left: 5px;
   }
   img {
      float: left;
      margin-right: 5px;
   }
   p {
      font-size: $font-size-sm;
   }
   .card-tweet-head {
      @extend .clearfix;
      color: inherit;
      display: block;
      &:hover, &:active, &:focus {
         text-decoration: none;
      }
      h6 {
         font-size:  1rem;
         font-weight: 300;
         line-height: 1.4;
      }
      .meta {
         color: $gray-300;
         font-size: $font-size-sm;
      }
   }
   .card-tweet-foot {
      font-size: $font-size-sm;
      a {
         color: $gray-300;
         span {
            padding-left: 5px;
         }
         &:hover, &:active, &:focus {
            color: theme-color('primary');
            text-decoration: none;
         }
      }
   }
}
