.pace {
   @include media-breakpoint-down(lg) {
      display: none!important;
   }
   .pace-progress {
      background-color: $brand-primary;
   }
   .pace-progress-inner {
      box-shadow: 0 0 10px $brand-primary, 0 0 5px $brand-primary;
   }
   .pace-activity {
      border-top-color: $brand-primary;
      border-left-color: $brand-primary;
   }
}
