.banner {
	z-index: 9;
	position: relative;
	background-color: $white;
	border-bottom: 1px solid $gray-200;
	.navbar-brand {
		height: $menu-height;
		line-height: $menu-height;
		padding: 0;
	}
	.secondary-nav {
		padding-top: $spacer;
		padding-bottom: $spacer;
	}
	.primary-nav {
		padding-top: $spacer;
		padding-bottom: $spacer;
	}
	.navbar {
		padding: 0;
	}
	.navbar-toggler {
		height: $menu-height;
		line-height: $menu-height;
		padding: 0 .625rem;
		position: absolute;
		color: inherit;
		border-bottom: 0;
		background-color: transparent;
		top: 0;
		right: 0;
		&.navbar-toggler-right {
			right: 0;
		}
		.touch-button {
			display: none;
		}
		&:focus, &:active {
			box-shadow: none;
			border: 0;
			outline: 0;
		}
	}
	&.banner-sticky {
		opacity: 0;
		top: -100px;
		left: 0;
		width: 100%;
		position: fixed;
		transition: all ease-in-out .6s;
		box-shadow: 0 0 10px rgba(0,0,0,.1);
		&.sticked {
			opacity: 1;
			top: 0;
		}
	}
}
