.banner {
	z-index: 9;
	position: relative;
	.navbar-brand {
		height: $menu-height;
		line-height: $menu-height;
		padding: 0;
	}
	.primary-nav {
		padding: 1rem 0;
	}
	.secondary-nav {
		padding: 1rem 0;
		border-bottom: 1px solid $gray-lighter;
	}
	.navbar-nav {
		> li {
			> a {
				height: $menu-height;
            line-height: $menu-height;
				padding: 0 .625rem;
			}
			&.action {
				margin-left: 2rem;
				> a {
					@extend .btn;
					@extend .btn-primary;
					line-height: ( $menu-height - 1 );
					padding: 0 1rem;
				}
			}
		}
	}
	&.banner-sticky {
		opacity: 0;
		top: -100px;
		left: 0;
		width: 100%;
		position: fixed;
		transition: all ease-in-out .6s;
		&.sticked {
			opacity: 1;
			top: 0;
		}
	}
}
